/*
*
* Theme: Ace Photography 
* Template: twentyseventeen 
* Author: Cody Okafor 
* Author URI: cowebdesigns.com
* Description: Photography website for Ace
* Version: 1.0.0 
*
*/
@import url("../twentyseventeen/style.css");
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
	font-family: "Gentium Basic", Georgia, Cambria, Times, serif;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
.active {
	background: rgba(52, 138, 191, 0.8);
}

a:active,
a:focus {
	outline: 0;
	border: none;
	-moz-outline-style: none;
	outline-style: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.menu-scroll-down:focus {
	outline: none;
}

.site-navigation-fixed.navigation-top {
	border-top: 1px;
}

.site-navigation-fixed.navigation-top .wrap {
	max-width: 1200px;
	padding-top: 0;
	padding-bottom: 0;
}

.site-navigation-fixed.navigation-top .wrap .main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

@media (min-width: 768px) {
	.site-navigation-fixed.navigation-top .wrap .main-navigation span {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 27%;
		        flex: 0 1 27%;
		margin: auto 0;
		font-size: 1.5rem;
	}
	.site-navigation-fixed.navigation-top .wrap .main-navigation span i {
		margin-right: 1em;
	}
	.site-navigation-fixed.navigation-top .wrap .main-navigation span i.fa-instagram:hover {
		color: mediumvioletred;
	}
	.site-navigation-fixed.navigation-top .wrap .main-navigation span i:hover {
		-webkit-animation: rotate 0.5s linear;
		        animation: rotate 0.5s linear;
	}
}

.site-navigation-fixed.navigation-top .wrap .main-navigation .menu-top-menu-container li {
	padding: 0.3em 0;
	font-family: "Karla", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 0.90rem;
	font-weight: 700;
}

.wrap .main-navigation span {
	display: none;
}

@media screen and (min-width: 48em) {
	.wrap {
		max-width: 1200px;
		padding-left: 0;
		padding-right: 0;
	}
	.wrap .entry-content {
		float: none;
		width: auto;
	}
}

@media screen and (min-width: 48em) {
	.blog:not(.has-sidebar) #primary article, .archive:not(.page-one-column):not(.has-sidebar) #primary article, .search:not(.has-sidebar) #primary article, .error404:not(.has-sidebar) #primary .page-content, .error404.has-sidebar #primary .page-content, body.page-two-column:not(.archive) #primary .entry-content, body.page-two-column #comments {
		float: none;
		width: auto;
	}
}

.navigation-top.site-navigation-fixed {
	-webkit-animation: fadeIn 0.25s linear both;
	        animation: fadeIn 0.25s linear both;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Globals
--------------------------------------------------------------*/
body {
	padding-bottom: 675.1px;
}

@media (min-width: 768px) {
	body {
		padding-bottom: 397px;
	}
}

@media screen and (min-width: 48em) {
	.site-footer {
		margin-top: 0;
	}
	.site-footer .wrap {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding-left: 5em;
	}
	.site-footer .wrap .widget-area {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.site-footer .wrap .widget-area .widget-column {
		width: auto;
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		margin-right: 5em;
		border-top: 2px solid rgba(0, 0, 0, 0.2);
	}
	.site-footer .wrap .widget-area .widget-column.footer-widget-3 .widget {
		text-align: center;
	}
	.site-footer .wrap .widget-area .widget-column .widget {
		margin-top: 3em;
	}
	.site-footer .wrap .widget-area .widget-column .widget .widget-title {
		font-size: .99rem;
	}
	.site-footer .wrap .widget-area .widget-column .widget .widget-title .textwidget,
	.site-footer .wrap .widget-area .widget-column .widget .widget-title .menu-footer-menu-container {
		font-size: 0.9rem;
	}
	.site-footer .wrap .social-navigation .menu-social-media-container {
		border-top: 2px solid rgba(0, 0, 0, 0.2);
		display: inline-block;
		margin-top: 1.8em;
	}
	.site-footer .wrap .social-navigation .menu-social-media-container .social-links-menu {
		margin-top: 3em;
	}
}

.site-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	max-height: 675px;
}

@media (min-width: 768px) {
	.site-footer {
		max-height: 397px;
	}
}

/*--------------------------------------------------------------
## Front Page
--------------------------------------------------------------*/
.has-header-video.twentyseventeen-front-page .custom-header {
	overflow: hidden;
	display: block;
	height: 50vh;
}

@media (min-width: 769px) {
	.has-header-video.twentyseventeen-front-page .custom-header {
		display: table;
		height: 100vh;
	}
}

.has-header-video.twentyseventeen-front-page .custom-header .wp-custom-header {
	position: relative;
	height: 50vh;
}

@media (min-width: 769px) {
	.has-header-video.twentyseventeen-front-page .custom-header .wp-custom-header {
		height: 100vh;
	}
}

.has-header-video.twentyseventeen-front-page .custom-header .wp-custom-header iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-right: 0.85em;
	-webkit-transform: scale(1.25);
	        transform: scale(1.25);
}

.has-header-video.twentyseventeen-front-page .custom-header .wp-custom-header .wp-custom-header-video-button {
	display: none;
}

.twentyseventeen-front-page.has-header-image .custom-header-media:before, .twentyseventeen-front-page.has-header-video .custom-header-media:before, .home.blog.has-header-image .custom-header-media:before, .home.blog.has-header-video .custom-header-media:before {
	display: none;
}

@media screen and (min-width: 768px) {
	.twentyseventeen-front-page.has-header-image .custom-header-media:before, .twentyseventeen-front-page.has-header-video .custom-header-media:before, .home.blog.has-header-image .custom-header-media:before, .home.blog.has-header-video .custom-header-media:before {
		height: 100%;
	}
}

@media screen and (min-width: 48em) {
	.site-header .menu-scroll-down {
		top: 6.5em;
		right: 40.5%;
	}
}

@media screen and (min-width: 48em) {
	.site-branding {
		padding-bottom: 48vh;
		margin-bottom: 0 !important;
	}
	.site-branding .wrap {
		text-align: center;
	}
	.site-branding .wrap .site-title {
		font-family: "Gentium Basic", Georgia, Cambria, Times, serif;
		font-size: 3.5rem;
		letter-spacing: 0.5em;
		word-spacing: 0.5em;
	}
}

.arrows {
	width: 40px;
	height: 66px;
	position: absolute;
	left: -350%;
	bottom: -100px;
}

.arrows path {
	stroke: white;
	fill: transparent;
	stroke-width: 2px;
	-webkit-animation: arrow 2s infinite;
	        animation: arrow 2s infinite;
}

.arrows path.a1 {
	-webkit-animation-delay: -1s;
	        animation-delay: -1s;
}

.arrows path.a2 {
	-webkit-animation-delay: -0.5s;
	        animation-delay: -0.5s;
}

.arrows path.a3 {
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
}

@-webkit-keyframes arrow {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes arrow {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.panel-content .wrap {
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	box-shadow: -7px 3px 37px -2px #c7c7c7;
	padding: 4.5em 0 0;
}

@media screen and (min-width: 48em) {
	.wrap .about-section,
	.wrap .services-section,
	.wrap .contact-section {
		padding-left: 4em;
		padding-right: 4em;
	}
}

.about-section {
	text-align: center;
}

.about-section .contact-ace {
	display: block;
}

@media (min-width: 768px) {
	.about-section .contact-ace {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

.about-section .contact-ace .phone {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.about-section .contact-ace .phone i {
	margin-top: 1em;
}

.about-section .contact-ace .phone i + p + p {
	font-size: 2rem;
	margin: 1em 0 .5em;
}

.about-section .contact-ace .social-contact {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.about-section .contact-ace .social-contact > i {
	margin-top: 1em;
}

.about-section .contact-ace .social-contact > i + p + p {
	font-size: 2rem;
	margin: 1em 0 .5em;
}

.about-section .contact-ace .email {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.about-section .contact-ace .email i {
	margin-top: 1em;
}

.about-section .contact-ace .email i + p + p {
	font-size: 2rem;
	margin: 1em 0 .5em;
}

.portfolio-section .portfolio-header {
	text-align: center;
	margin: 3em auto;
}

.portfolio-section .portfolio-galla ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
}

.portfolio-section .portfolio-galla ul li {
	overflow: hidden;
}

.portfolio-section .portfolio-galla ul li.image-border {
	height: auto;
}

.portfolio-section .portfolio-galla ul li.image-border img {
	border: 1px solid #eee;
}

.portfolio-section .portfolio-galla ul li img {
	vertical-align: top;
	transition: 0.25s ease-out;
}

.portfolio-section .portfolio-galla ul li img:hover {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}

.portfolio-section button {
	display: block;
	margin: 4.5em auto 0;
}

.services-section {
	background: url("http://acenextlevelfilm.com/wp-content/uploads/2017/06/services_bg") no-repeat center bottom;
	background-attachment: fixed;
	color: white;
	padding: 7em 0;
}

.services-section .services-content {
	position: relative;
	left: 20%;
}

.services-section .services-content ul {
	list-style: none;
	display: inline-block;
	font-family: "Karla", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

.services-section .services-content ul li {
	text-indent: 0.5em;
	margin-top: 0.5em;
}

.services-section .services-content ul li i {
	margin-right: 0.45em;
}

.prices-section {
	background: url("http://acenextlevelfilm.com/wp-content/uploads/2017/07/ace_prices") no-repeat center center;
	background-size: cover;
	color: white;
	padding: 4em 0;
	position: relative;
}

.prices-section:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.65);
	display: block;
	z-index: 1;
}

.prices-section .prices-content {
	position: relative;
	z-index: 1;
	text-align: center;
}

.prices-section .prices-content .prices-category {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.prices-section .prices-content .prices-category .photo-prices,
.prices-section .prices-content .prices-category .video-prices {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.prices-section .prices-content .prices-category .photo-prices h2,
.prices-section .prices-content .prices-category .video-prices h2 {
	color: #348abf;
	font-weight: bold;
}

.prices-section .prices-content .prices-category .photo-prices ul,
.prices-section .prices-content .prices-category .video-prices ul {
	list-style: none;
}

@media (max-width: 768px) {
	.panel-content .wrap {
		padding-left: 0;
		padding-right: 0;
	}
	.panel-content .wrap .about-section {
		padding: 0 1em;
	}
	.panel-content .wrap .contact-section {
		padding: 0 1em;
		display: block;
	}
	.panel-content .wrap .contact-section h1 {
		width: auto;
		text-align: center;
	}
	.panel-content .wrap .contact-section .contact-text {
		margin-top: 1em;
		width: auto;
	}
}

@media (max-width: 900px) {
	.portfolio-section .portfolio-galla ul {
		display: block;
	}
	.portfolio-section .portfolio-galla ul img {
		display: block;
		margin: 0 auto;
	}
}

/*--------------------------------------------------------------
## Portfolio Page
--------------------------------------------------------------*/
.page-id-100 .site-header {
	background: url("http://ace.dev/wp-content/uploads/2017/05/sample4") no-repeat center center;
	background-size: cover;
}

.page-id-100 .navigation-top {
	position: relative;
}

.page-id-100 .navigation-top.site-navigation-fixed.navigation-top {
	position: fixed;
}

.page-id-100 .entry-title {
	display: none;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Plugins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.icon {
	display: inline-block;
	height: 3em;
	width: 3em;
	fill: currentColor;
	stroke: currentColor;
	vertical-align: middle;
	position: relative;
	margin: auto 0;
}

.icon#icon-flickr {
	margin-right: 10em;
}

.site-header .menu-scroll-down .icon {
	margin-left: 12px;
}

.svg-fallback {
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}

.no-svg .svg-fallback.flickr:before {
	content: "Flickr";
}

.no-svg .svg-fallback.instagram:before {
	content: "Instagram";
}

.no-svg .social-menu a {
	height: auto;
	width: auto;
}

/*# sourceMappingURL=../acephotography/sass/maps/style.css.map */
