//body styles for sticky footer
body {
    padding-bottom: 675.1px;

    @media (min-width: 768px) {
        padding-bottom: 397px;
    }
}

//footer
@media screen and (min-width: 48em) {
    .site-footer {
        margin-top: 0;
        
        .wrap {
            display: flex;
            justify-content: space-between; 
            padding-left: 5em; 
            
            .widget-area {
                display: flex; 
                
                .widget-column {
                    width: auto; 
                    flex: 1;
                    margin-right: 5em; 
                    border-top: 2px solid rgba(0,0,0,0.2);

                    &.footer-widget-3 .widget {
                        text-align: center;
                    }
                    
                    .widget {
                        margin-top: 3em; 

                        .widget-title {
                            font-size: .99rem; 

                            .textwidget,
                            .menu-footer-menu-container {
                                font-size: 0.9rem; 
                            }
                        }
                    }
                }
            }
            
            .social-navigation {
                
                .menu-social-media-container {
                    border-top: 2px solid rgba(0,0,0,0.2);
                    display: inline-block;
                    margin-top: 1.8em; 
                        
                        .social-links-menu {
                            margin-top: 3em;
                        }    
                }
            }
        }
    }
}

// sticky footer 
.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    max-height: 675px;

    @media (min-width: 768px) {
        max-height: 397px;
    }
}